In [1]:
from IPython.core.display import HTML
table_css = 'table {align:left;display:block} '
HTML('<style>{}</style>'.format(table_css))

In [2]:
from IPython.core.display import HTML
HTML("""
<style>
.bashcommand {
	font-family: Courier;
	font-size: 12px;
}
</style>
""")

<a id='top'></a>
# 4. Arithmetic calculations

## 4.1. Integer calculations

In order to compute arithmetic calculations with integers you can use one of the following syntaxes:

<table>
    <tr>
        <th>Syntax</th>
		<th>Usage</th>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
						
    <tr>
        <td><font class="bashcommand"> </font></td>
        <td></td>
    </tr>
</table>
[Go to top](#top)

#### Examples: &dollar;(( OPERATION ))
[Go to top](#top)

#### Examples: ((++NUM))
[Go to top](#top)

#### Examples: ((NUM++))
[Go to top](#top)

#### Examples: ((--NUM))
[Go to top](#top)

#### Examples: ((NUM--))
[Go to top](#top)

#### Examples: ((VAR+=NUM))
[Go to top](#top)

#### Examples: ((VAR-=NUM))
[Go to top](#top)

#### Examples: (( &dollar;i % 2 ))
[Go to top](#top)